page-count-info {
  section > p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    > label {
      color: color($text, light);
    }

    > span {
      color: color($colors, dark);

      > strong {
        color: inherit !important;
      }
    }
  }
}
