<ion-header>

  <ion-navbar>
    <ion-title>我的消息</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <section no-background padding *ngIf="result?.data">
    <message-list [data]="result.data"></message-list>
  </section>

  <empty-state [completed]="result?.completed" *ngIf="!(result?.data)">
    <p>暂无消息</p>
  </empty-state>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="result?.more">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
