@font-face {
  font-family: "iconfont";
  font-weight: normal;
  font-style: normal;
  src: url("#{$font-path}/iconfont.eot?t=1533284192977");
  src: url("#{$font-path}/iconfont.eot?t=1533284192977#iefix") format("embedded-opentype"),
  url("#{$font-path}/iconfont.woff?t=1533284192977") format("woff"),
  url("#{$font-path}/iconfont.ttf?t=1533284192977") format("truetype"),
  url("#{$font-path}/iconfont.svg?t=1533284192977#iconfont") format("svg");
}

[class^="ion-ios-wp-"], [class*=" ion-ios-wp-"] {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ion-ios-wp-activity-outline:before {
  content: "\e6de";
}

.ion-ios-wp-activity:before {
  content: "\e6df";
}

.ion-ios-wp-brush:before {
  content: "\e6e5";
}

.ion-ios-wp-businesscard:before {
  content: "\e6e6";
}

.ion-ios-wp-collection:before {
  content: "\e6ea";
}

.ion-ios-wp-collection-outline:before {
  content: "\e6eb";
}

.ion-ios-wp-coordinates:before {
  content: "\e6ec";
}

.ion-ios-wp-coordinates-outline:before {
  content: "\e6ed";
}

.ion-ios-wp-customerservice:before {
  content: "\e6f1";
}

.ion-ios-wp-delete:before {
  content: "\e6f2";
}

.ion-ios-wp-delete-outline:before {
  content: "\e6f3";
}

.ion-ios-wp-dynamic:before {
  content: "\e6f4";
}

.ion-ios-wp-editor:before {
  content: "\e6f5";
}

.ion-ios-wp-enter:before {
  content: "\e6f8";
}

.ion-ios-wp-feedback:before {
  content: "\e6fa";
}

.ion-ios-wp-feedback-outline:before {
  content: "\e6fb";
}

.ion-ios-wp-flag:before {
  content: "\e6fc";
}

.ion-ios-wp-flag-outline:before {
  content: "\e6fd";
}

.ion-ios-wp-group:before {
  content: "\e6ff";
}

.ion-ios-wp-homepage:before {
  content: "\e702";
}

.ion-ios-wp-homepage-outline:before {
  content: "\e703";
}

.ion-ios-wp-integral:before {
  content: "\e704";
}

.ion-ios-wp-integral-outline:before {
  content: "\e705";
}

.ion-ios-wp-mail:before {
  content: "\e70a";
}

.ion-ios-wp-mine-outline:before {
  content: "\e70e";
}

.ion-ios-wp-mine:before {
  content: "\e70f";
}

.ion-ios-wp-people:before {
  content: "\e715";
}

.ion-ios-wp-prompt:before {
  content: "\e71b";
}

.ion-ios-wp-prompt-outline:before {
  content: "\e71c";
}

.ion-ios-wp-return:before {
  content: "\e720";
}

.ion-ios-wp-send:before {
  content: "\e726";
}

.ion-ios-wp-stealth:before {
  content: "\e72c";
}

.ion-ios-wp-success:before {
  content: "\e72d";
}

.ion-ios-wp-success-outline:before {
  content: "\e72e";
}

.ion-ios-wp-time:before {
  content: "\e735";
}

.ion-ios-wp-time-outline:before {
  content: "\e736";
}

.ion-ios-wp-trash:before {
  content: "\e738";
}

.ion-ios-wp-undo:before {
  content: "\e739";
}

.ion-ios-wp-shaixuan:before {
  content: "\e649";
}

.ion-ios-wp-search:before {
  content: "\e741";
}

.ion-ios-wp-packup:before {
  content: "\e749";
}

.ion-ios-wp-unfold:before {
  content: "\e74a";
}

.ion-ios-wp-nan:before {
  content: "\e63e";
}

.ion-ios-wp-nv:before {
  content: "\e63f";
}

.ion-ios-wp-compass:before {
  content: "\e77d";
}

.ion-ios-wp-team:before {
  content: "\e7ae";
}

.ion-ios-wp-linechart:before {
  content: "\e7af";
}

.ion-ios-wp-flag1:before {
  content: "\e7cb";
}

.ion-ios-wp-qrcode:before {
  content: "\e7dd";
}

.ion-ios-wp-crown:before {
  content: "\e842";
}
