<ion-list>

  <ion-item navPush="project-item" [navParams]="{id:item.id}" *ngFor="let item of data; trackBy: trackByFn;">
    <header>
      <h2>{{item.name}}</h2>
    </header>
    <div class="flex">
      <div class="image">
        <img [my-src]="item.picture[0]">
        <span>{{item.type}}</span>
      </div>
      <div class="content">
        <div class="description">{{item.description}}</div>
        <my-progress [value]="item.money.existing" [max]="item.money.target" *ngIf="item.money.target"></my-progress>
        <p>已筹款<strong>{{item.money.existing |number:'0.0-2'}}</strong>元</p>
      </div>
    </div>
  </ion-item>

</ion-list>
