pay-record-list {
  > ion-list.list {
    > .item-block {
      padding-left: 0;

      &:first-child {
        border-top: none;
      }

      > .item-inner {
        padding-left: 16px;

        .label {
          > h2 {
            @extend %textOverflow;

            margin: 0;
            font-size: 1.5rem;
            font-weight: bold;
          }
        }

        > button {
          padding: 3px 1em;

          &:disabled {
            opacity: 1;
            background-color: #e0e0e0;
          }
        }
      }
    }
  }
}
